<div class="container p-4">

  <div class="row">
    <div class="col-8">
      <h3>Repositorio Institucional (RI) Investigare PUCMM</h3>
      <p>
      La Pontificia Universidad Católica Madre y Maestra pone a disposición de la comunidad académica el Repositorio Institucional Investigare PUCMM de su producción científica. Tiene como objetivo dar acceso abierto, capturar, almacenar, preservar, indexar y distribuir, en formato digital, las investigaciones de las diferentes facultades, departamentos, centros de investigación y otras unidades dedicadas a la investigación en la PUCMM, para ampliar la visibilidad de las investigaciones, a través de redes globales.
        <br>
      El RI Investigare PUCMM incluye: Libros, tesis, revistas, memorias, investigación, videos, entre otros, editados por la PUCMM.
        <br>
      Los textos completos disponibles en el RI Investigare PUCMM pueden ser copiados en cualquier formato, pero sólo con el propósito de ser usados para investigación o estudio personal. Siempre y cuando:
      </p>
      <ul>
        <li>Se cite: autor (es), título y datos bibliográficos completos.</li>
        <li>Se incluya un enlace a la página original de los metadatos.</li>
        <li>No se modifique el contenido del texto completo.</li>
      </ul>
    </div>
    <div class="col-4">
      <ds-custom-sidebar></ds-custom-sidebar>
    </div>
  </div>
</div>
