<header>

  <div class="container-fluid bg-nrf-green">
    <div class="container" id="topNavContainer">
        <nav class="navbar navbar-expand-lg py-0" id="topNav">
          <div class="d-flex mobile-hidden">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" target="_blank" href="https://www.facebook.com/nrfkenya">
                  <i class="fa-brands fa-square-facebook fa-lg text-white"></i>
                  <span class="show-onhover">Facebook</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" target="_blank" href="https://x.com/nrfkenya">
                  <i class="fa-brands fa-square-twitter fa-lg text-white"></i>
                  <span class="show-onhover">Twitter</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" target="_blank" href="https://www.youtube.com/@nationalresearchfundkenya8036">
                  <i class="fa-brands fa-youtube fa-lg text-white"></i>
                  <span class="show-onhover">YouTube</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" target="_blank" href="https://www.linkedin.com/company/national-research-fund-kenya/">
                  <i class="fa-brands fa-linkedin fa-lg text-white"></i>
                  <span class="show-onhover">LinkedIn</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" target="_blank" href="https://outlook.office.com/mail/">
                  <i class="fas fa-mail-bulk fa-lg text-white"></i>
                  <span class="show-onhover">Staff Mail</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" target="_blank" href="https://nrfstaff.kinetics.services/auth/login">
                  <i class="fas fa-id-card fa-lg text-white"></i>
                  <span class="show-onhover">Staff Portal</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="w-100 justify-content-end container py-2">
            <ds-themed-lang-switch></ds-themed-lang-switch>
            <ds-context-help-toggle></ds-context-help-toggle>
            <ds-themed-auth-nav-menu></ds-themed-auth-nav-menu>
          </div>
        </nav>
    </div>
  </div>

  <div class="container-fluid" id="mainNavContainer">
    <div class="container">
      <ds-themed-navbar></ds-themed-navbar>
    </div>
  </div>

</header>
