// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

:root {
  --pucmm-dark-blue: #00588e;
  --pucmm-light-blue: #186caf;
  --thumbnail-box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 1px 0 15px -4px rgba(31, 73, 125, 0.8), -1px 0 15px -4px rgba(31, 73, 125, 0.8);

}


/*** ADDED BY SYSTEMS LIBRARIAN ***/
h1, h2, h3, h4, h5, h6 {
  font-family: Cairo,sans-serif;
}
h2, .h2, h4 {
  font-size: 1.25rem;
  font-weight: bold;
}
a {
  color: #000;
}
.bg-pucmm-blue{
  background-color: var(--pucmm-blue);
}
.bg-pucmm-light-blue{
  background-color: var(--pucmm-light-blue);
}
.bg-pucmm-dark-blue{
  background-color: var(--pucmm-dark-blue);
}
.show-onhover{
  display: none;
}
.show-onhover:hover{
  display: inline-block !important;
}
#recent-submissions .item-list-title{
  color: #000;
  font-weight: bold;
  font-size: 1rem;
}
#recent-submissions .row:hover{
  background-color: #f8f9fa;
}
#recent-submissions .thumbnail-content{
  display: contents;
}
#recent-submissions .thumbnail-content .inner{
  padding: 10px 0 10px 8px;
}
#search-navbar-container .btn{
  color: #fff;
}
.md-hidden{
  display: none;
}
#topNav{
  padding: 0.5rem 0;
}
#topNav i, .dropdownLogin{
  color: #fff !important;
}
.navbar-nav a.nav-link {
  color: var(--pucmm-blue) !important;
  font-weight: bold;
}
.navbar-brand img{
  max-height: 60px;
}
#home-jumbotron{
  color: #fff;
  text-align: center;
  background-image: url("/assets/pucmm/images/home-slider/research-lab-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 2px #000;
}
#home-jumbotron .container{
  margin-top: 30px;
  padding-left: 15vw;
  padding-right: 15vw;
}
#home-jumbotron form input{
  height: 55px;
  border: none !important;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
#home-jumbotron form .input-group-append .btn{
  background-color: var(--pucmm-light-blue);
  color: #fff;
  border-radius: 15px;
}
#home-jumbotron .input-group-append {
  margin-left: -12px;
}
#home-title{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}
#home-community-list ul li{
  margin-bottom: 0.25rem !important;
  margin-top: 0.25rem !important;
}
.highcharts-plot-background{
  padding: 8px;
}
.highcharts-credits{
  display: none;
}
.jumbotron {
  margin-bottom: 0 !important;
}
.dropdown-menu .nav-link{
  color: var(--pucmm-light-blue) !important;
}

#home-sidebar div{
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.btn-primary {
  background-color: var(--pucmm-dark-blue);
  border-color: var(--pucmm-dark-blue);
}
.badge-info {
  background-color: var(--pucmm-dark-blue);
}
.badge-secondary {
  background-color: var(--pucmm-dark-blue);
}

/*******************/
footer h2 {
  padding: 25px 0;
  text-align: center;
  color: #fff;
  background: #7c8490;
}
footer {
  background: var(--pucmm-dark-blue);
  color: white;
  margin-top:100px;
}
footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}
footer a:hover {
  color: #FA944B;
  text-decoration: none;
}
footer .copy {
  font-size: 12px;
  padding: 10px;
}
footer .footer-middle {
  padding-top: 2em;
  color: white;
}
footer ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
footer ul.social-network li {
  display: inline;
  margin: 0 5px;
}

footer .social-network a.icoFacebook:hover {
  background-color: #3B5998;
}
footer .social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
footer .social-network a.icoFacebook:hover i
{
  color: #fff;
}
footer .social-network a.icoLinkedin:hover i {
  color: #fff;
}
footer .social-network a.socialIcon:hover {
  color: #44BCDD;
}
footer .socialHoverClass {
  color: #44BCDD;
}
footer .social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}
footer .social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}
footer .social-circle li a:hover i
{
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
footer .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
footer .social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
footer .social-network a:hover {
  background: #ff304d;
}
#collapsingNav {
  float: right !important;
}
#mainNavContainer nav.navbar {
  align-items: center !important;
  background: var(--pucmm-dark-blue);
}
div#header-navbar-wrapper{
  border-bottom: var(--pucmm-dark-blue) !important;
}
//#collapsingNav .navbar-nav li .nav-item a{
#collapsingNav .navbar-nav .nav-item a{
  color: #fff !important;
}
.dropdown-menu {
  background-color: var(--pucmm-dark-blue) !important;
}

.loginDropdownMenu {
  background-color: var(--pucmm-light-blue) !important;
}
.ngx-gallery-image {
  background-position: center;
  border: solid 1px #ccc;
  border-radius: 4px;
}
.home-recent .row .col-3 .thumbnail{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--thumbnail-box-shadow)
}

.home-recent .row .col-3 {
  text-align: center;
  display: table-cell;
}

#p-spc .thumbnail, #p-cp .thumbnail{
  box-shadow: var(--thumbnail-box-shadow);
}

.home-recent .row .col-3 img{
  width: 100%;
  vertical-align: middle;
}
.simple-view-element-body .thumbnail{
  box-shadow: var(--thumbnail-box-shadow);
  margin-top: 25px;
  margin-bottom: 15px;
}
.simple-view-element-body .thumbnail img{
  width: 100%;
}
.fa-arrow-circle-right, fa-arrow-circle-left{
  cursor: pointer;
}
.text-pucmm-blue{
  color: var(--pucmm-dark-blue);
}
li.breadcrumb-item a {
  color: var(--pucmm-light-blue) !important;
}
.dropdown-item {
  background-color: var(--pucmm-dark-blue) !important;
  border: 0;
}
/* Adjust the position of the carousel indicators */
ngb-carousel .carousel-indicators {
  position: absolute;
  bottom: 0px; /* Adjust the value as needed */
  left: 30%;
  transform: translateX(-50%);
  z-index: 1;
  top: 145px;
}

ngb-carousel .carousel-indicators li {
  background-color: var(--pucmm-light-blue); /* Customize indicator color */
  //border-radius: 50%;
  //width: 10px;
  //height: 10px;
}


@media only screen and (max-width: 768px) {
  .mobile-hidden {
    display: none !important;
  }
  #homeSearchForm{
    padding: 20px;
  }
  #mainNavContainer .container-fluid .container nav.navbar{
      position: inherit;
      height: 125px;
    background: var(--pucmm-dark-blue);
  }

  #home-jumbotron .container {
    margin-top: 10px !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
  }

  .md-hidden{
    //display: block;
    align-items: center !important;
    display: flex;
  }
  .md-hidden > .navToggler {
    float: right !important;
  }
  .navToggler{
    background: var(--pucmm-light-blue);
    padding: 2px;
    border-radius: 2px;
  }
  .navToggler .icon{
    right: 0;
    top: 0;
    padding: 4px;
    position: relative;
    color: white;
  }
  #collapsingNav {
    float: left !important;
  }
  .navbar-brand img {
    max-height: 35px;
  }
  .navbar-expand-md.navbar-container > .navbar-inner-container {
    padding: 0 0 !important;
  }
}

