<ds-themed-home-news></ds-themed-home-news>
<ng-container *ngIf="(site$ | async) as site">
  <ds-view-tracker [object]="site"></ds-view-tracker>
</ng-container>
<div class="container-fluid bg-light pt-4">
  <ds-themed-top-level-community-list></ds-themed-top-level-community-list>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 mr-0 pr-0">
      <ds-recent-item-list *ngIf="recentSubmissionspageSize > 0"></ds-recent-item-list>
    </div>
    <div class="col-md-3 bg-light mt-4 ml-0" id="home-sidebar">
      <ds-custom-sidebar></ds-custom-sidebar>
    </div>
  </div>

</div>
