<div class="md-hidden row">
  <div class="col-10">
    <div>
      <a class="navbar-brand" routerLink="/home">
        <img src="/assets/pucmm/images/pucmm-logo.png" alt=""/>
      </a>
    </div>
  </div>
  <div class="col-2">
    <div class="navToggler">
      <a href="javascript:void(0);" class="icon" id="hamburger" (click)="toggleNavbarHeight();">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</div>

<nav #mainNav [ngClass]="{'open': !(menuCollapsed | async)}" [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
     class="navbar navbar-light navbar-expand-md p-md-0 navbar-container" role="navigation" [attr.aria-label]="'nav.main.description' | translate">
  <!-- TODO remove navbar-container class when https://github.com/twbs/bootstrap/issues/24726 is fixed -->
  <a class="navbar-brand mobile-hidden" routerLink="/home">
    <img src="/assets/pucmm/images/pucmm-logo-1.png" alt=""/>
  </a>
  <div class="navbar-inner-container w-100" [class.container]="!(isXsOrSm$ | async)">
    <div class="reset-padding-md w-100">
      <div id="collapsingNav" class="float-right">
        <ul class="navbar-nav navbar-navigation mr-auto shadow-none">
          <li class="nav-item">
            <a class="nav-link mt-0" routerLink="/home">
              {{ "navbar.home" | translate }}
            </a>
          </li>
          <li class="nav-item dropdown" ngbDropdown #aboutUsDropdown="ngbDropdown"
              (mouseenter)="openDropdown(aboutUsDropdown)" (mouseleave)="closeDropdown(aboutUsDropdown)">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" ngbDropdownToggle>
            {{ "navbar.aboutUs" | translate }}
            </a>
            <div class="dropdown-menu my-0" aria-labelledby="navbarDropdown" ngbDropdownMenu>
              <a class="dropdown-item" routerLink="/home">
                {{ "navbar.institutionalRepository" | translate}}</a>
              <a class="dropdown-item" target="_blank"
                 href="https://www.pucmm.edu.do/biblioteca/servicios/reglamento-sistema-de-bibliotecas">
                {{ "navbar.regulations" | translate }}</a>
              <a target="_blank"
                 class="dropdown-item"
                 href="https://www.pucmm.edu.do/biblioteca/info-general/contacto">
                {{ "navbar.staff" | translate }}</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link mt-0" href="https://pucmm.edu.do/biblioteca">
              {{ "navbar.library" | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mt-0" href="https://investigacion.pucmm.edu.do/">
              {{ "navbar.investigation" | translate }}
            </a>
          </li>
          <li *ngIf="(isXsOrSm$ | async) && (isAuthenticated$ | async)">
            <ds-themed-user-menu [inExpandableNavbar]="true"></ds-themed-user-menu>
          </li>
          <li *ngFor="let section of (sections | async)">
            <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
          </li>
          <li class="nav-item">
            <a class="nav-link mt-0" routerLink="/info/feedback">
              {{ "navbar.contactUs" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
