<h4 class="mt-4 text-center border-bottom pb-3 border-dark border-2">Navegar por</h4>

<div class="mt-4 mb-4">
  <a routerLink="/browse/author">
    <figure class="mx-auto text-center">
      <img class="figure-img img-fluid" width="80px"
           src="/assets/pucmm/images/browse/autor.png" alt=""/>
      <figcaption class="figure-caption text-center font-weight-bold">
        <h5>Autoras</h5>
      </figcaption>
    </figure>
  </a>
</div>

<div class="mt-4 mb-4">
  <a routerLink="/browse/subject" class="mt-4 mb-4">
    <figure class="mx-auto text-center">
      <img class="figure-img img-fluid" width="80px"
           src="/assets/pucmm/images/browse/education.png" alt=""/>
      <figcaption class="figure-caption text-center font-weight-bold">
        <h5>Sujeta</h5>
      </figcaption>
    </figure>
  </a>
</div>

<div class="mt-4 mb-4">
  <a routerLink="/browse/dateissued" class="mt-4 mb-4">
    <figure class="mx-auto text-center">
      <img class="figure-img img-fluid" width="80px"
           src="/assets/pucmm/images/browse/calendar.png" alt=""/>
      <figcaption class="figure-caption text-center font-weight-bold">
        <h5>Fecha de emisión</h5>
      </figcaption>
    </figure>
  </a>
</div>

<div class="mt-4 mb-4">
  <a routerLink="/browse/title" class="mt-4 mb-4">
    <figure class="mx-auto text-center">
      <img class="figure-img img-fluid" width="80px"
           src="/assets/pucmm/images/browse/puzzle.png" alt=""/>
      <figcaption class="figure-caption text-center font-weight-bold">
        <h5>Títulos</h5>
      </figcaption>
    </figure>
  </a>
</div>


