<div class="jumbotron jumbotron-fluid mt-ncs text-center" id="home-jumbotron">
  <div class="container text-center">
    <div class="text-center">
        <h3 id="home-title">National Research Repository</h3>
      <p class="mobile-hidden"><strong>The National Research Fund</strong> facilitates research for the advancement of science,
          technology and innovation. One of our core functions is to compile and maintain
          a national database of research and innovation projects funded by the Fund.
        </p>
    </div>
    <div id="homeSearchForm">
      <ds-themed-search-form [inPlaceSearch]="false"
                             [searchPlaceholder]="'home.search-form.placeholder' | translate">
      </ds-themed-search-form>
    </div>
  </div>
</div>
