
<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4> About Us</h4>
            <ul class="list-unstyled">
              <li> <a href="https://www.nrf.go.ke/mandate/" target="_blank">
                Mandate</a> </li>
              <li> <a href="https://www.nrf.go.ke/mission-vision/" target="_blank">
                Mission & Vision and Core Values</a></li>
              <li> <a href="https://www.nrf.go.ke/service-charter/" target="_blank">
                Service Charter </a></li>
              <li> <a href="https://www.nrf.go.ke/board-of-trustees/" target="_blank">
                Board of Trustees</a></li>
              <li> <a href="https://www.nrf.go.ke/management/" target="_blank">
                Management</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4> Our Programs</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.nrf.go.ke/multidisciplinary-research-2/" target="_blank">
                Multidisciplinary Research </a> </li>
              <li><a href="https://www.nrf.go.ke/innovation-2/" target="_blank">
                Innovation</a> </li>
              <li><a href="https://www.nrf.go.ke/scientific-events-2/">
                Scientific Events</a></li>
              <li><a href="https://www.nrf.go.ke/incubation-2/" target="_blank">
                Incubation</a></li>
              <li><a href="https://www.nrf.go.ke/strategic-2/" target="_blank">
                Strategic Research Interventions</a></li>
              <li><a href="https://www.nrf.go.ke/bilateral-multilateral-research-2/" target="_blank">
                Bilateral/Multilateral Research Grants</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4> Find Resources </h4>
            <ul class="list-unstyled">
              <li> <a href="https://www.nrf.go.ke/category/grants-and-calls/" target="_blank">
                Grants Announcements </a> </li>
              <li> <a href="https://www.nrf.go.ke/careers/" target="_blank">
                Careers </a> </li>
              <li> <a href="https://www.nrf.go.ke/shortlisted-concept-notes/" target="_blank">
                Shortlisted Concept Notes</a> </li>
              <li> <a href="https://www.nrf.go.ke/category/tenders/"> Tenders </a> </li>
              <li> <a href="https://www.nrf.go.ke/newsletters/"> Newsletters </a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <img src="/assets/nrf/images/nrf-logo-small.png" alt="" class="w-100 mb-4"/>
          <h4> Follow Us </h4>
          <ul class="social-network social-circle mb-4">
            <li>
              <a href="#" class="icoFacebook" title="Facebook">
                <i class="fa-brands fa-square-facebook fa-lg text-white"> </i>
              </a>
            </li>
            <li> <a href="#" class="icoLinkedin" title="Linkedin"> <i class="fa-brands fa-linkedin fa-lg text-white"> </i> </a> </li>
            <li> <a href="#"> <i class="fa-brands fa-youtube fa-lg text-white" aria-hidden="true"> </i> </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-dark border-top-0">
    <div class="col-md-12 copy">
      <p class="text-center pt-4">
        © Copyright
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }} -
        National Research Fund (NRF) Kenya.  All rights reserved. </p>
    </div>
  </div>
</footer>
